<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.allegra.handyuvisa" >

    <!-- ****************** Permissions   ********************** -->
    <!-- Permissions needed by LivePerson -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Permissions required by Twilio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permissions needed by Visa XO SDK -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- card.io: Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- card.io: Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ******************Sensors*********************** -->
    <!-- card.io: Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!-- ******************Application*********************** -->
    <application
        android:name=".VisaCheckoutApp"
        android:allowBackup="false"
        android:icon="@mipmap/handy_visa"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ******************MetaData*********************** -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:ignore="ManifestResource" />
        <!-- API key created for build -->
        <!-- Release -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC2gG6V9Q6qnJ22nRtzMzGawS1kgWM-tDM" />
        <!--
        ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ******************Receivers*********************** -->


        <!-- This is the App Flyers Receiver -->
        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.liveperson.mobile.android.networking.NetworkChangeReceiver"
            android:label="NetworkStateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- ******************Activities*********************** -->
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendLogActivity"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.allem.alleminmotion.visacheckout.SEND_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".StoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CallActivityServices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mcardhtml"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalkThroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"/>
        <activity
            android:name=".IntroScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".MyAccountActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".McardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBenefits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mcardprivilege"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mcardpremium"
            android:screenOrientation="portrait" />
        <activity android:name=".MyTips"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Mcardexclusive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndlessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Mcardunlimited"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LegalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoliticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CallActivityMcard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intellilink"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Myvisaenterprise"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CheckMyTrip"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConciergeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarketPlaceActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FlightsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HotelsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EntertainmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginForgotConfirmation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginNewUser"
            android:label="@string/title_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginPassRecover"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".CallActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FlightsSearchActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ConciergeSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaxiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HotelSearchActivity"
            android:screenOrientation="portrait" />

        <!-- Activities responsible for gathering payment info via card.io -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScanActivity"
            android:label="@string/title_activity_qrscan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomQrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FlightsPaymentActivity"
            android:label="@string/title_activity_flights_payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllInOneBenefitsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAccountMenuActivity" />
        </activity>
        <activity
            android:name=".RestaurantsActivity"
            android:label="@string/title_restaurants"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAccountMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ActivationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAccountMenuActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnepocketContainerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OnepocketPurchaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OneTransactionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProofOfCoverageDinamicoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- ******************Services*********************** -->

        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false"  android:stopWithTask="true"/>
        <service
            android:name="com.liveperson.mobile.android.service.visit.VisitService"
            android:enabled="true" />
    </application>

</manifest>